@charset "utf-8";

body {
    font-family: helvetica, sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

div {
    padding-bottom: 20px;
    margin: 0 auto;
    width: fit-content;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    width: 200px; 
    font-size: 16px; 
}

.randomize {
    padding: 10px; 
    font-size: 16px;
}

/* Hide the output paragraph until the user has submitted the form */
p {
    background: #ffc125;
    color: #5e2612;
    padding: 20px;
    visibility: hidden;
    font-size: 18px; 
    margin: 0 auto;
    width: fit-content;
}
